/* Default (Light Mode) */
:root {
  --bg-color: #ff8fab;
  --frame-bg: #ffc2d1;
  --header-bg: #fb6f92;
  --text-color: white;
  --box-shadow: pink;
  --border-color: #fb6f92;
  --checklist-bg: #ffe5ec;
  --scrollbar-color: #fb6f92;
  --primary-color: #fb6f92;
  --secondary-color: #ff8fab;
  --theme-button: #fb6f92;
  --checklist-text-color: #fb6f92;
}

/* Dark Mode */
.dark-mode {
  --bg-color: #121212;
  --frame-bg: #0A2647;
  --header-bg: #205295;
  --text-color: white;
  --box-shadow: #144272;
  --border-color: #205295;
  --checklist-bg: #205295;
  --scrollbar-color: #144272;
  --primary-color: #144272;
  --secondary-color: #2C74B3;
  --theme-button: #144272;
  --checklist-text-color: #144272;
}

body.light-mode {
    background-color: #fb6f92;
}

/* Dark mode */
body.dark-mode {
    background-color: #0A2647;
}

body
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
}

.frame-container
{
  box-shadow: 0px 0px 20px var(--box-shadow);
  position: relative;
  padding: 20px;
  width: 900px;
  height: 900px;
  justify-content: center;
  align-items: center;
  background-color: var(--frame-bg);
  margin: 0 auto;
}

.rectangle-svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.div-pomodoro-timer-header 
{
  border: 2px;
  border-radius: 35px;
  box-shadow: 0 0 3px 3px var(--box-shadow);
  background-color: var(--header-bg);
  width: 600px;
  height: 70px;
  font-family: "Gluten", serif;
  font-size: 20px;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 80px;
  margin: 30px auto;
}

.div-timer-display {
  border-radius: 35px;
  box-shadow: 0 0 3px 3px var(--box-shadow);
  background-color: var(--header-bg);
  width: 600px;
  height: 70px;
  font-family: "Gluten", serif;
  font-size: 50px;
  line-height: 80px;
  text-align: center;
  margin: 50px auto;
  color: var(--text-color);
}


.start-button, .pause-button, .reset-button, .twentyfive-five-button, .fifty-ten-button, .ninety-twenty-button, .back-button {
  border: none;
  background: none;
  padding: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Gluten", serif;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);
  margin-left: 65px;
  bottom: 50px;
}

.back-button{
 position: absolute; 
 margin: 0 auto;
 padding: 0;
 bottom: 83%;
}

.start-button:hover, .pause-button:hover, .reset-button:hover, .twentyfive-five-button:hover, .fifty-ten-button:hover, .ninety-twenty-button:hover, .back-button:hover {
  transform: translateY(-5px);  /* Slight lift effect on hover */
}

/*Button press effect when clicked*/
.start-button:active, .pause-button:active, .reset-button:active, .twentyfive-five-button:active, .fifty-ten-button:active, .ninety-twenty-button:active, .back-button:active {
  transform: scale(0.9);
  transition: transform 0.1s ease;
}

.checklist-container
{
  border: 2px solid var(--border-color);
  border-radius: 35px;
  box-shadow: 0 0 3px 3px var(--box-shadow);
  width: 80%;
  max-width: 800px;
  height: 200px;
  position: relative;
  z-index: 1;
  font-family: "Gluten", serif;
  font-size: 20px;
  color: var(--checklist-text-color);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  background: var(--checklist-bg);
  padding: 20px;
  bottom: 7%;
  left: 0;

  overflow-y: auto; /* This adds a vertical scrollbar when needed */
  scrollbar-width: thin; /* Optional: Makes the scrollbar thinner */
  scrollbar-color: var(--scrollbar-color) transparent; /* Optional: Custom scrollbar colors */
}