:root{
  --bg-color: #ff8fab;
  --frame-bg: #ffc2d1;
  --header-bg: #fb6f92;
  --text-color: white;
  --box-shadow: pink;
  --border-color: #fb6f92;
  --button-color: #fb6f92;
}

.dark-mode{
  --bg-color: #121212;
  --frame-bg: #0A2647;
  --header-bg: #205295;
  --text-color: #ffffff;
  --box-shadow: #144272;
  --border-color: #205295;
  --button-color: #205295;
}

body.light-mode {
    background-color: #fb6f92;
}

/* Dark mode */
body.dark-mode {
    background-color: #0A2647;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:  var(--bg-color);
}

.frame-container {
  box-shadow: 0px 0px 20px var(--box-shadow);
  position: relative;
  padding: 20px;
  width: 900px;
  height: 900px;
  justify-content: center;
  align-items: center;
  background-color: var(--frame-bg);
  margin: 0 auto;
}

.rectangle-svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.settings-title {
  border: 2px;
  border-radius: 35px;
  box-shadow: 0 0 3px 3px var(--box-shadow);
  background-color: var(--header-bg);
  width: 600px;
  height: 70px;
  font-family: "Gluten", serif;
  font-size: 30px;
  color: white; 
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 80px;
  margin: 30px auto;
}

.mute-button, .dark-mode-button {
  width: 30%;
  border: none;
  background: none;
  display: flex 1;
  position: relative;
  top: 20%;
  left: 21%;
  margin: 30px auto;
}

.mute-button-img {
  width: 37%;
  height: auto;
  transition: opacity 0.3s ease;
}

.close-settings-button{
  width: 30%;
  border: none;
  background: none;
  display: flex 1;
  position: relative;
  top: 50%;
  right: 25%;
}

.mute-button:hover, .dark-mode-button:hover, .close-settings-button:hover  {
 transform: translateY(-5px);
}

.mute-button:active, .dark-mode-button:active, .close-settings-button:active{
  transform: scale(0.9);
  transition: transform 0.1s ease;
}

.button-mute-text, .button-close-text, .button-theme-text
{
  font-family: "Gluten", serif;
  font-size: 22px;
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
  left: 30%;
}

